#sidebar-stuff {
  /* don't touch that edge */
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  /* not so wide */
  max-width: 10rem;
  float: left;
}
.card, .jumbotron {
  /* get rid of border radius */
  border-radius: unset;
}
.row section {
  /* it needs to be a flex container to make it look all neat */
  display: flex;
}

.card .card-body h3 {
  border-style: solid;
  border-width: 1px;
  padding: 0.5ch;
}

.section-one {
  background-color: skyblue;
}

.section-one .card-body h3 {
  background-color: steelblue;
}

.section-one .card-body img {
  margin-right: 1ch;
  float: left;
  width: 33.333333%;
}

.section-one .card-body:nth-of-type(2) img {
  margin-right: unset;
  margin-left: 1ch;
  float: right;
}

.section-two {
  background-color: lightcoral;
}

.section-two .card-body h3 {
  background-color: firebrick;
}

.section-two .card-body .list-group-item {
  background-color: transparent;
} 

.section-two .card-body img {
  margin-left: 1ch;
  float: right;
  width: 45%
}

.section-two .card-body:nth-of-type(2) img {
  margin-left: unset;
  margin-right: 1ch;
  float: left;
}

.section-three {
  background-color: palegreen;
}

.section-three .card-body h3 {
  background-color: seagreen;
}

.section-three .card-body img {
  float: left;
  margin-right: 1ch;
}

.col-1, .col-2, 
.col-3, .col-4, 
.col-5, .col-6, 
.col-7, .col-8, 
.col-9, .col-10, 
.col-11, .col-12, 
.col {
  /* to make it tighter looking*/
  padding-left: 8px;
  padding-right: 8px;
}

.row {
  /* don't touch eachother at the bottom */
  margin-bottom: 8px;
}
